.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20rem;
    margin-top: 150px;
    background-color: #F2F2F2;
    padding-bottom: 50px;
}

.footer-title {
    font-size: 20px;
}

.footer > .footer-container >  p{
    margin-top: 50px;
    margin-bottom: 30px;
}